
.brand-logo {
	margin-left: 1em;
}

/*home page*/
.header h4 {
	text-decoration: underline;
}

.header {
	text-align: center;
}

.card.horizontal {
	flex-direction: row;
}

.vote {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.vote-style {
	text-align: center;
}

.nav-wrapper {
	margin-bottom: 4em;
}

/*nav and hamburger*/
.hamburger {
	display: none;
}

.dropdown {
	display: none;
}

/*//////////*/

.vote h6 {
	padding: 0em 2em;
}

.col {
	margin-top: 3em;
}

.footer-copyright {
	width: 100%;
	text-align: center;
	background-color: #8F78C8;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
	margin-top: 3em;
}

.footer-copyright .container {
	color: #FFF;
	height: 64px;
	padding-top: 1.5em;
}

/*single post page*/
.single-post {
	margin: 5em;
}

.ingredients-section {
	margin: auto;
    width: 60%;

}



h5 {
	text-align: center;
}

h4 {
	text-align: center;
}

img {
	background-size: cover;
	justify-content: center;
	align-content: center;
	font-size: 2em;
	background-repeat: no-repeat;
	height: 17em;
	background-attachment: fixed;
	width: 100%;
}

.singleRecipeImg {
	width: 70%;
	margin-left: 15%;
}

.create-btn {
	margin-top: 0.5em;
	margin-left: 0.25em;
}

.update-button {
	margin-left: 0.25em
}

.update-btn {
	margin: 0.5em 15% 0 0.25em
}

.delete-btn {
	margin-top: 0.5em;
}




.card-action .how-to-make {
	font-weight: bold;
	font-size: 1.25em;

}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color: #9c27b0;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
	color: #82b1ff;
}

/*create post page*/
textarea {
	height: 9em;
}


@media screen and (max-width: 760px){


	.hamburger {
		display: block;
	}

	.fa .fas {
		color: #000;
		height: 45px;
	}

	.fa-bars:before {
		color: #8F78C8;
	}

	.nav-wrapper {
		display: none;

	}

	.dropbtn:hover, .dropbtn:focus {
    background-color: #FFF;
	}


	nav {
		background-color: #8F78C8;
	}


	.dropbtn {
	    background-color: #FFF;
	    color: white;
	    padding: 1em;
	    font-size: 16px;
	    border: none;
	    cursor: pointer;
	    text-align: right;
	    margin: auto;
	    height: 50px;

	}

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
	    background-color: #FFF;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	    position: relative;
	    display: inline-block;
	    float: left;
	}
	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f1f1f1;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 99;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {
		background-color: #ddd
	}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {
		display:block;
	}

	/*single post page*/

	.sigle-post {
		margin: .5em;
	}

 }
